# Carpetas de compilacion #
MarDevs.Gestion.Core/bin
MarDevs.Gestion.Core/obj
MarDevs.Gestion.Win/bin
MarDevs.Gestion.Win/obj
MarDevs.Gestion.Win/MarDevs.OC.Win.csproj.user
MarDevs.Gestion.Win/MarDevs.OC.Win.csproj.user
.vs