<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MarDevs.Gestion.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="flags" value="MarDevs.Gestion.Core.Flags, MarDevs.Gestion.Core"/>
    <add key="config" value="MarDevs.Gestion.Core.Config, MarDevs.Gestion.Core"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <log4net debug="false">
    <!-- Define some output appenders -->
    <appender name="trace" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &amp;lt;%P{user}&amp;gt; - %m%n"/>
      </layout>
    </appender>
    <appender name="console" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c %P{user} - %m%n"/>
      </layout>
    </appender>
    <appender name="consoleErrores" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="TIMESTAMP: %d %newlineEQUIPO/LOGON: %property{Equipo}/%property{Logon} %newlineSISTEMA OPERATIVO: %property{SistemaOperativo} %newlineEJECUTABLE: %property{Ejecutable} %newlineUSUARIO: %property{Usuario} %newline %newline"/>
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="RollingStyle" value="Date"/>
      <param name="DatePattern" value="yyyy.MM.dd"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] &amp;lt;%X{user}&amp;gt; - %m%n"/>
      </layout>
    </appender>
    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="Gestion"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="TIMESTAMP: %d %newlineEQUIPO/LOGON: %property{Equipo}/%property{Logon} %newlineSISTEMA OPERATIVO: %property{SistemaOperativo} %newlineEJECUTABLE: %property{Ejecutable} %newlineUSUARIO: %property{Usuario} %newline %newline"/>
      </layout>
    </appender>
    <appender name="SmtpAppender" type="MarDevs.Gestion.Core.SmtpCustomAppender">
      <!--type="log4net.Appender.SmtpAppender">-->
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>
      <to value="martinreina84@gmail.com"/>
      <from value="infomardevs@gmail.com"/>
      <subject value="MarDevs Gestión - Reporte de Excepcion de Aplicación"/>
      <smtpHost value="smtp.gmail.com"/>
      <port value="587"></port>
      <Authentication value="Basic"/>
      <Username value="infomardevs@gmail.com"/>
      <Password value="Imd@2334"/>
      <enablessl value="true" />
      <bufferSize value="512"/>
      <lossy value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="TIMESTAMP: %d %newlineEQUIPO/LOGON: %property{Equipo}/%property{Logon} %newlineSISTEMA OPERATIVO: %property{SistemaOperativo} %newlineEJECUTABLE: %property{Ejecutable} %newlineUSUARIO: %property{Usuario} %newline %newline"/>
      </layout>
    </appender>
    <!-- Setup the root category, add the appenders and set the default priority -->
    <root>
      <priority value="ERROR"/>
      <appender-ref ref="console"/>
    </root>
    <logger name="LOGGER">
      <level value="ALL"/>
      <additivity value="false"/>
      <appender-ref ref="consoleErrores"/>
      <appender-ref ref="EventLogAppender"/>
      <appender-ref ref="SmtpAppender"/>
    </logger>
  </log4net>
  <userSettings>
    <MarDevs.Gestion.Win.Properties.Settings>
      <setting name="AppVersion" serializeAs="String">
        <value/>
      </setting>
      <setting name="MultiVentana" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UltimoUsuarioLogueado" serializeAs="String">
        <value/>
      </setting>
      <setting name="AppMaximizada" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UltimoPanelActivo" serializeAs="String">
        <value/>
      </setting>
    </MarDevs.Gestion.Win.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
